<div class="container">
  <div class="content">
    <h1>{{ team }}</h1>
    <p class="question">{{ question }}</p>
    <div class="form__group field">
      <input
        type="input"
        class="form__field"
        placeholder="Name"
        name="name"
        id="name"
        required
        [(ngModel)]="answer"
      />
      <label for="name" class="form__label">Antwoord</label>
    </div>
    <div class="button-container">
      <button type="button" (click)="validateAnswer()">
        Controleer antwoord
      </button>
    </div>

    <p class="wrong-answer" *ngIf="answerSubmitted && !isValid">
      Fout antwoord. probeer nog een keer!
    </p>
    <div class="correct-answer" *ngIf="answerSubmitted && isValid">
      <p class="title">goed antwoord</p>
      <p>Dit is de letter die je krijgt:</p>
      <p class="hint">{{ hint }}</p>
      <p>Onthoud deze letter goed!</p>
      <p>Ga nu naar het volgende punt</p>
      <p class="coordinaat">{{ coordinaat }}</p>
    </div>
  </div>
</div>
